# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\USER\Desktop\중앙대학교\3학년2학기\데이타베이스설계-강현철\과제\DBDProjectHwangYoungJin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
